---
import Header from "@components/sections/Header.astro"
import Hero from "@components/sections/Hero.astro"
import Information from "@components/sections/Information.astro"
import Opinions from "@components/sections/Opinions.astro"
import Statistics from "@components/sections/Statistics.astro"
---

<body>
    <Header />
    <Hero />
    <Statistics />
    <Information />
    <Opinions />

    <br>
    <br>
    <br>
    <br>
</body>

