---
import Contact from "@components/sections/Contact.astro";
import Footer from "@components/sections/Footer.astro";
import Header from "@components/sections/Header.astro";
import Hero from "@components/sections/Hero.astro";
import Information from "@components/sections/Information.astro";
import Opinions from "@components/sections/Opinions.astro";
import Statistics from "@components/sections/Statistics.astro";
//Aprender idiomas online de forma práctica y con propósito
//Clases de inglés conversacional dinámicas, reales y personalizadas. <br> Aprende a hablar inglés con confianza y abre nuevas oportunidades.
---

<head>
  <script type="module" src="/animations-init.js"></script>
</head>

<body >
  <Header />
  <div style="max-width: 1920px; margin: auto">
      <Hero title="Clases de música para niños, jóvenes y adultos" description="Aprende a tocar guitarra, piano, violín, batería y más. <br> Profesores especializados que se adaptan a tu ritmo y estilo."/>
  </div>
  <Statistics />
  <div style="max-width: 1920px; margin: auto;">
      <Contact />
  </div>
  <Footer />
</body>

